    @SerialName(value = "{{{vendorExtensions.x-base-name-literal}}}")
    val {{{name}}}: {{#vendorExtensions.x-kotlin-type}}{{{.}}}{{/vendorExtensions.x-kotlin-type}}{{^vendorExtensions.x-kotlin-type}}{{#isArray}}kotlin.collections.{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}<{{#items.isEnum}}{{classname}}.{{{nameInPascalCase}}}{{/items.isEnum}}{{^items.isEnum}}{{{items.dataType}}}{{/items.isEnum}}{{#items.isNullable}}?{{/items.isNullable}}>{{/isArray}}{{^isArray}}{{#isEnum}}{{classname}}.{{{nameInPascalCase}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{/isArray}}{{/vendorExtensions.x-kotlin-type}}{{#isNullable}}?{{/isNullable}} = {{{vendorExtensions.x-kotlin-default}}}